body {
  background: rgb(255, 237, 213);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  user-select: none;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid grey;
  background: white;
  width: 90vw;
  max-width: 500px;
  height: 90vh;
  max-height: 600px;
  flex-wrap: wrap-reverse;
  position: absolute;
}

.bottle {
  width: 11%;
  height: 15%;
  background: lightgray;
  border: black solid;
  border-top: none;
  margin: 10px;
  cursor: pointer;
}

#NewGame {
	position: absolute;
	bottom: 0;
	background: white;
	padding: 0.5em;
	border-top: solid black;
	border-left: solid black;
	border-right: solid black;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
  cursor: pointer;
}

#undo {
	position: absolute;
	bottom: 0;
	background: white;
	padding: 0.5em;
	border-top: solid black;
	border-left: solid black;
	border-top-left-radius: 1em;
	right: 0;
  cursor: pointer;
}